extends layout 

block content 

  h1=`カテゴリ ${category.name}`

  a(href=`/category/${category.id}/edit`) 編集
  form(action=`/category/${category.id}/delete`, method="post")
    input(type="submit", value="削除")

  include _contact_table